body {
  margin: 0;
}

#canvas {
  background: rgba(255, 17, 40, 0.7);
  position: absolute;
}

#fullContainer {
  transition: 0.6s;
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

#playButton {
  color: rgba(250, 250, 250, 1);
  padding-top: 8%;
  width: 20%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 3vw;
  opacity: 1;
  cursor: pointer;
}

#playButton:hover {
  opacity: 0.7;
}

#gameText {
  color: rgba(250, 250, 250, 1);
  border-radius: 2px;
  width: 50%;
  height: 16%;
  margin-bottom: 4;
  border-bottom: 3px solid rgba(50, 50, 50, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 5vw;
}

#popMax {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  transition: 1s;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

#popupWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.7);
  transition: 0.6s;
}

#chatContainer {
  opacity: 0;
  position: fixed;
  background: rgba(50, 50, 50, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  width: 25%;
  height: 50%;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  margin-bottom: 5vh;
  word-wrap: break-word;
  transition: 2s;
}

#chatContainer.run-animation {
  animation: show 6s;
}

#shellSlot {
  position: absolute;
  width: 8%;
  height: 9%;
  /*border: 2px solid rgba(0,0,0,0.7); */
  bottom: 1%;
  left: 1%;
  display: flex;
}

#shellSlot #shellPic {
  flex-grow: 1;
  background: url('resources/Emerald.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#shellSlot #shellContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: Arial;
  font-size: 100%;
}

#chatForm {
  position: fixed;
  bottom: 0;
  width: 25vw;
  margin: 0;
  right: 0;
}

#chatInput {
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  background: rgba(30, 30, 30, 0.4);
  border: 1px rgba(30, 30, 30, 0.4);
  border-radius: 1px;
}

#chatContainer p {
  position: relative;
  background: rgba(20, 20, 20, 0.2);
  margin-left: 1%;
  /*height: 7%;*/
  text-overflow: ellipsis;
  margin-bottom: 0;
  max-width: inherit;
  margin-top: 0;
  padding: 0;
  font-size: 3vh;
  margin-right: 0.5%;
  border-radius: 2px;
}

#chatContainer:hover {
  /*background: rgba(50, 50, 50, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);*/
  opacity: 1;
  transition: 2s;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity 0;
  }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
